* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

body {
  font: 1.4rem "Cyber", Futura, sans-serif;
  margin: 1rem 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  margin-top: 1rem;
  display: flex;
  user-select: none;
}



@media screen and (max-width: 450px) {
  html {
    transform: scale(.8);
  }
  .game {
    margin-top: 1rem;
  }
}


@media only screen and (min-width: 100px) and (max-width: 868px) {
  .game {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

