.modal {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  overflow: auto;
  display: block;
}

.modal-content {
  background-color: #fff;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.3),0 5px 40px 0 rgba(0,0,0,0.2);
  animation: zoom-in 0.5s;
}

.close-modal-animate {
  animation: zoom-out 0.5s;
}

.modal__header {
  display: flex;
  padding: .2rem .4rem;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: #74b9ff;
}
.modal__header button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
}

.modal__content {
  padding: .6rem;
}

.modal__footer {
  padding: .6rem;
  text-align: right;
}
.modal__footer button {
  border: none;
  background-color: transparent;
  color: #74b9ff;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 800;
}